.table {
    color: white;
    padding: 10px 0;
}

.table tr {
    transition: transform .8s ease-in-out;
}

.table tr.removed {
    transform: translateX(-100%);
}

.table tr:hover td {
    background-color: #2d2d2d;
}

.table tr.choose td {
    background-color: #2d2d2d;
}

.table tr.new td {
    background-color: green;
}

.table tr.error {
    position: relative;
    transform: scale(1);
}

.table tr.error:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.42);
}

.table th {
    padding-left: 20px;
}
.table td {
    vertical-align: middle;
}

.table input[readonly] {
    background: none;
    border: none;
    color: transparent;
    text-shadow: 0 0 0 white;
    cursor: default;
}

.table input[readonly]:focus {
    outline: none;
}

.table input[readonly]:focus {
    outline: none;
}

.table input {
    width: 100%;
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    -webkit-appearance: none;
}